!!! 5
doctype html(lang="en-us")
{% macro form_errors(form) %}
{% if form.errors %}
<ul class="errors">
{% for field_name, field_errors in form.errors|dictsort if field_errors %}
{% for error in field_errors %}
<li>{{ form[field_name].label }}: {{ error }}</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
head
    if current_user.is_authenticated()
      meta(name='hue', content='Hello {{current_user.display_name}}. Stare too long at this code, and you will succumb to eldritch influences. You have been warned.')
    link(rel="icon", href="/static/favicon.png", type="image/png", sizes="any")
    link(rel="canonical", href=request.canonical)
    if meta_description
      meta(name='description', content=meta_description)
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv="content-language", content="en-us")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='The Casual Yandere')

    if notification_count
      title ({{notification_count}}) - {{ page_title }}
    else
      title {{ page_title }}
      
    {% block theme %}
    if current_user.is_authenticated() and current_user.theme
      if current_user.theme.css
        {% assets filters="cssmin", output="generated/"+current_user.theme.get_text_id()+"woe-core.css",
        "assets/bootstrap.css", "assets/quill2/quill.snow.css", 
        "assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
        "assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
        "assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
        "local/default.css", current_user.theme.css %}
        link(href='{{ASSET_URL}}', rel='stylesheet')
        {% endassets %}
      else
        {% assets filters="cssmin", output="generated/"+current_user.theme.get_text_id()+"woe-core.css",
        "assets/bootstrap.css", "assets/quill2/quill.snow.css", 
        "assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
        "assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
        "assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
        "local/default.css" %}
        link(href='{{ASSET_URL}}', rel='stylesheet')
        {% endassets %}
    else
      {% assets filters="cssmin", output="generated/woe-core.css",
      "assets/bootstrap.css", "assets/quill2/quill.snow.css",
      "assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
      "assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
      "assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
      "local/default.css" %}
      link(href='{{ASSET_URL}}', rel='stylesheet')
      {% endassets %}
    {% endblock %}
    
    {% block header %}
    {% endblock %}
  
    if current_user.no_images
      style
        | img { display: none !important; }
        | iframe { display: none !important; }
        | .site-background { background: none !important; height: 100px !important; }
        | body { background: none !important; }
body(role='document')
  if current_user.is_authenticated()
    if current_user.notification_sound
      if current_user.all_notification_sounds
        audio#notification-sound(style="display: none;",data-frequency="yes" ,preload, src="/static/notify.wav")
      else
        audio#notification-sound(style="display: none;", preload, src="/static/notify.wav")
  if current_user.navbar_top
    div.hidden-xs(style="padding-top: 50px")
    div.hidden-lg.hidden-md.hidden-sm(style="padding-top: 70px")

  a(href="/")
    .site-background.hidden-xs
    
  .container#site-container
    .row
    ul.list-group.category.hide-inline
      center
        li.list-group-item.section-header
          a(href="/", style="color: inherit;") GENERIC SITENAME
    if current_user.navbar_top
      nav.navbar.navbar-default.navbar-fixed-top.hide-inline(style="-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)\"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;")
        .container
          .navbar-header
            if current_user.is_authenticated()
              a.button.collapsed.float-left.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/member/{{current_user.my_url}}')
                img(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 7px; margin-left: 0px;', class="avatar-mini")
            a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/')
              span.glyphicon.glyphicon-home()
            if current_user.is_authenticated()
              if current_user.unread_private_messages() > 0
                a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px; color: #B22222;", href='/messages')
                  span.glyphicon.glyphicon-envelope
              else
                a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/messages')
                  span.glyphicon.glyphicon-envelope
              a.button.mini-notification-button.collapsed.dropdown-toggle.notification-dropdown-toggle.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
                if notification_count == 0
                  span.badge.notification-counter {{notification_count}}
                else
                  span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
              ul.dropdown-menu.notification-dropdown(role='menu')
                li
                  a(href='/dashboard')
                    span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
                    | Dashboard&nbsp;
                li
                  a(href='/messages')
                    span.badge.float-right{{current_user.unread_private_messages()}}
                    | Messages&nbsp;
                li.divider
                for k, notification in current_user.get_recent_notifications(15).items()
                  li.notification-li(data-notification-count='{{notification["count"]}}', data-notification-ref='{{notification["ref"]}}')
                    .media
                      .media-left
                        a(href='{{notification["sender_url"]}}')
                          img.avatar-mini(src='{{notification["sender_avatar"]}}')
                      .media-body
                        span.who
                          if notification["count"] == 1
                            a.hover_user(href='{{notification["sender_url"]}}')= notification["sender_name"]
                          if notification["count"] > 1 and notification["count"] < 3
                            a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                            |  and 
                            a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                          if notification["count"] >= 3
                            a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                            |,&nbsp;
                            a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                            |,&nbsp;and
                            |<span class="count">{{notification["count"] - 2}}</span>
                            |more
                        br
                        a.notification-link(href='{{notification["url"]}}', data-notification='{{notification["id"]}}')= notification["message"]
            span      
              a.dropdown-toggle.glyphicon.glyphicon-cog.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button(href='#', data-toggle='dropdown', role='button', aria-expanded='false', style="margin-left: 5px; padding-top: 12px; padding-bottom: 12px;")                
              ul.dropdown-menu(role='menu')
                li
                  if current_user.navbar_top
                    a.toggle-navbar(href='') 
                      span.glyphicon.glyphicon-check
                      span &nbsp;&nbsp;&nbsp;Sticky Navbar
                  else
                    a.toggle-navbar(href='') 
                      span.glyphicon.glyphicon-unchecked
                      span &nbsp;&nbsp;&nbsp;Sticky Navbar
                  if current_user.notification_sound
                    a.toggle-sounds(href='') 
                      span.glyphicon.glyphicon-volume-up
                      span &nbsp;&nbsp;&nbsp;Audio Alerts
                  else
                    a.toggle-sounds(href='') 
                      span.glyphicon.glyphicon-volume-off
                      span &nbsp;&nbsp;&nbsp;Audio Alerts
                  if current_user.no_images
                    a.toggle-images(href='') 
                      span.glyphicon.glyphicon-check
                      span &nbsp;&nbsp;&nbsp;Hide Images
                  else
                    a.toggle-images(href='') 
                      span.glyphicon.glyphicon-unchecked
                      span &nbsp;&nbsp;&nbsp;Hide Images
                li.divider
                li
                  a(href='/member/{{current_user.my_url}}/change-account') Name &amp; Password
                li
                  a(href='/member/{{current_user.my_url}}/change-avatar-title') Avatar &amp; Title
                li.divider
                li
                  a(href='/member/{{current_user.my_url}}/change-settings') Other Settings
            span      
                a.to-bottom.glyphicon.glyphicon-arrow-down.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button(href='#', role='button', style="margin-left: 5px; padding-top: 12px; padding-bottom: 12px;")

            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              if not current_user.is_authenticated()
                li#sign-in-li.hidden-sm.hidden-md.hidden-lg
                  a(href='/sign-in')
                    | <strong>Sign In</strong>
                li#register-li.hidden-sm.hidden-md.hidden-lg
                  a.join-us-link(href='/register')
                    | <strong>Join Us!</strong>
                li
                  hr
              li#forum-li
                a(href='/') Forum
              li#blog-li
                a(href='/blogs') Blogs
              li.hidden-sm#recent-li
                a(href='/recent') New Posts
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Community 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/status-updates') Status Updates
                  li
                    a(href='/stats') Global Stats
                  li.hidden-xs.hidden-md.hidden-lg
                    a(href='/recent') New Posts
                  li.divider
                  li
                    a(href='/members')
                      | Members
                  li
                    a(href='/characters') Characters
                  li
                    a(href='/acknowledgement') Acknowledgements
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Support 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/rules') Community Rules
                  li
                    a(href='/category/faq-help') Ask for help?
              li
                a(href='/search')
                  | Search
              if current_user.is_authenticated()
                li.divider.hidden-sm.hidden-md.hidden-lg
                  hr
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/dashboard') Dashboard
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/messages') Messages
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/member/{{current_user.my_url}}/change-settings') Settings
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/member/{{current_user.my_url}}') Profile
                li.hidden-sm.hidden-md.hidden-lg
                  a.sign-out(href='#') Sign Out
            ul.nav.navbar-nav.navbar-right.hidden-xs
              if current_user.is_authenticated()
                li
                  img.go-to-profile(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 4px; margin-left: 15px;', class="avatar-mini")
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | {{current_user.display_name}}
                    span.caret
                  ul.dropdown-menu(role='menu')
                      li
                      li
                        a(href='/dashboard') Dashboard
                      li
                        a(href='/messages') Messages
                      li
                        a(href='/member/{{current_user.my_url}}') Profile
                      li.divider
                      li
                        a.sign-out(href='#') Sign Out
                li.dropdown
                  a.dropdown-toggle.glyphicon.glyphicon-cog(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.caret
                  ul.dropdown-menu(role='menu')
                      li
                      li
                        if current_user.navbar_top
                          a.toggle-navbar(href='') 
                            span.glyphicon.glyphicon-check
                            span &nbsp;&nbsp;&nbsp;Sticky Navbar
                        else
                          a.toggle-navbar(href='') 
                            span.glyphicon.glyphicon-unchecked
                            span &nbsp;&nbsp;&nbsp;Sticky Navbar
                        if current_user.notification_sound
                          a.toggle-sounds(href='') 
                            span.glyphicon.glyphicon-volume-up
                            span &nbsp;&nbsp;&nbsp;Audio Alerts
                        else
                          a.toggle-sounds(href='') 
                            span.glyphicon.glyphicon-volume-off
                            span &nbsp;&nbsp;&nbsp;Audio Alerts
                        if current_user.no_images
                          a.toggle-images(href='') 
                            span.glyphicon.glyphicon-check
                            span &nbsp;&nbsp;&nbsp;Hide Images
                        else
                          a.toggle-images(href='') 
                            span.glyphicon.glyphicon-unchecked
                            span &nbsp;&nbsp;&nbsp;Hide Images
                      li.divider
                      li
                        a(href='/member/{{current_user.my_url}}/change-account') Name &amp; Password
                      li
                        a(href='/member/{{current_user.my_url}}/change-avatar-title') Avatar &amp; Title
                      li.divider
                      li
                        a(href='/member/{{current_user.my_url}}/change-settings') Other Settings
              else
                li#sign-in-li.hidden-xs
                  a(href='/sign-in')
                    | <strong>Sign In</strong>
                li#register-li.hidden-xs
                  a.join-us-link(href='/register')
                    | <strong>Join Us!</strong>
              if current_user.is_authenticated()
                if current_user.unread_private_messages() > 0
                  a.button.mini-notification-button.collapsed.hidden-xs(style="margin-left: 5px; color: #B22222; border: none;", href='/messages')
                    span.glyphicon.glyphicon-envelope
                else
                  a.button.mini-notification-button.collapsed.hidden-xs(style="margin-left: 5px; border: none;", href='/messages')
                    span.glyphicon.glyphicon-envelope
                li.dropdown#dashboard-li.hidden-xs
                  a.dropdown-toggle.notification-dropdown-toggle(href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
                    if notification_count == 0
                      span.badge.notification-counter {{notification_count}}
                    else
                      span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
                  ul.dropdown-menu.notification-dropdown(role='menu')
                    li
                      a(href='/dashboard') 
                        span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
                        | Dashboard&nbsp;
                    li
                      a(href='/messages')
                        span.badge.float-right{{current_user.unread_private_messages()}}
                        | Messages&nbsp;
                    li.divider
                    for k, notification in current_user.get_recent_notifications(15).items()
                      li.notification-li(data-notification-count='{{notification["count"]}}', data-notification-ref='{{notification["ref"]}}')
                        .media
                          .media-left
                            a(href='{{notification["sender_url"]}}')
                              img.avatar-mini(src='{{notification["sender_avatar"]}}')
                          .media-body
                            span.who
                              if notification["count"] == 1
                                a.hover_user(href='{{notification["sender_url"]}}')= notification["sender_name"]
                              if notification["count"] > 1 and notification["count"] < 3
                                a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                                |  and 
                                a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                              if notification["count"] >= 3
                                a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                                |,&nbsp;
                                a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                                |,&nbsp;and
                                |<span class="count">{{notification["count"] - 2}}</span>
                                |more
                            br
                            a.notification-link(href='{{notification["url"]}}', data-notification='{{notification["id"]}}')= notification["message"]
    else
      nav.navbar.navbar-default.hide-inline
        .container-fluid
          .navbar-header
            if current_user.is_authenticated()
              a.button.collapsed.float-left.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/member/{{current_user.my_url}}')
                img(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 7px; margin-left: 0px;', class="avatar-mini")
            a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/')
              span.glyphicon.glyphicon-home()
            if current_user.is_authenticated()
              if current_user.unread_private_messages() > 0
                a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px; color: #B22222;", href='/messages')
                  span.glyphicon.glyphicon-envelope
              else
                a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/messages')
                  span.glyphicon.glyphicon-envelope
              a.button.mini-notification-button.collapsed.dropdown-toggle.notification-dropdown-toggle.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
                if notification_count == 0
                  span.badge.notification-counter {{notification_count}}
                else
                  span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
              ul.dropdown-menu.notification-dropdown(role='menu')
                li
                  a(href='/dashboard')
                    span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
                    | Dashboard&nbsp;
                li
                  a(href='/messages')
                    span.badge.float-right{{current_user.unread_private_messages()}}
                    | Messages&nbsp;
                li.divider
                for k, notification in current_user.get_recent_notifications(15).items()
                  li.notification-li(data-notification-count='{{notification["count"]}}', data-notification-ref='{{notification["ref"]}}')
                    .media
                      .media-left
                        a(href='{{notification["sender_url"]}}')
                          img.avatar-mini(src='{{notification["sender_avatar"]}}')
                      .media-body
                        span.who
                          if notification["count"] == 1
                            a.hover_user(href='{{notification["sender_url"]}}')= notification["sender_name"]
                          if notification["count"] > 1 and notification["count"] < 3
                            a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                            |  and 
                            a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                          if notification["count"] >= 3
                            a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                            |,&nbsp;
                            a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                            |,&nbsp;and
                            |<span class="count">{{notification["count"] - 2}}</span>
                            |more
                        br
                        a.notification-link(href='{{notification["url"]}}', data-notification='{{notification["id"]}}')= notification["message"]
            span      
              a.dropdown-toggle.glyphicon.glyphicon-cog.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button(href='#', data-toggle='dropdown', role='button', aria-expanded='false', style="margin-left: 5px; padding-top: 12px; padding-bottom: 12px;")
              ul.dropdown-menu(role='menu')
                li
                  if current_user.navbar_top
                    a.toggle-navbar(href='') 
                      span.glyphicon.glyphicon-check
                      span &nbsp;&nbsp;&nbsp;Sticky Navbar
                  else
                    a.toggle-navbar(href='') 
                      span.glyphicon.glyphicon-unchecked
                      span &nbsp;&nbsp;&nbsp;Sticky Navbar
                  if current_user.notification_sound
                    a.toggle-sounds(href='') 
                      span.glyphicon.glyphicon-volume-up
                      span &nbsp;&nbsp;&nbsp;Audio Alerts
                  else
                    a.toggle-sounds(href='') 
                      span.glyphicon.glyphicon-volume-off
                      span &nbsp;&nbsp;&nbsp;Audio Alerts
                  if current_user.no_images
                    a.toggle-images(href='') 
                      span.glyphicon.glyphicon-check
                      span &nbsp;&nbsp;&nbsp;Hide Images
                  else
                    a.toggle-images(href='') 
                      span.glyphicon.glyphicon-unchecked
                      span &nbsp;&nbsp;&nbsp;Hide Images
                li.divider
                li
                  a(href='/member/{{current_user.my_url}}/change-account') Name &amp; Password
                li
                  a(href='/member/{{current_user.my_url}}/change-avatar-title') Avatar &amp; Title
                li.divider
                li
                  a(href='/member/{{current_user.my_url}}/change-settings') Other Settings
            span      
                a.to-bottom.glyphicon.glyphicon-arrow-down.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button(href='#', role='button', style="margin-left: 5px; padding-top: 12px; padding-bottom: 12px;")
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              if not current_user.is_authenticated()
                li#sign-in-li.hidden-sm.hidden-md.hidden-lg
                  a(href='/sign-in')
                    | <strong>Sign In</strong>
                li#register-li.hidden-sm.hidden-md.hidden-lg
                  a.join-us-link(href='/register')
                    | <strong>Join Us!</strong>
                li
                  hr
              li#forum-li
                a(href='/') Forum
              li#blog-li
                a(href='/blogs') Blogs
              li.hidden-sm#recent-li
                a(href='/recent') New Posts
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Community 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/status-updates') Status Updates
                  li
                    a(href='/stats') Global Stats
                  li.hidden-xs.hidden-md.hidden-lg
                    a(href='/recent') New Posts
                  li.divider
                  li
                    a(href='/members')
                      | Members
                  li
                    a(href='/characters') Characters
                  li
                    a(href='/acknowledgement') Acknowledgements
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Support 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/rules') Community Rules
                  li
                    a(href='/category/faq-help') Ask for help?
              li
                a(href='/search')
                  | Search
              if current_user.is_authenticated()
                li.divider.hidden-sm.hidden-md.hidden-lg
                  hr
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/dashboard') Dashboard
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/messages') Messages
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/member/{{current_user.my_url}}/change-settings') Settings
                li.hidden-sm.hidden-md.hidden-lg
                  a(href='/member/{{current_user.my_url}}') Profile
                li.hidden-sm.hidden-md.hidden-lg
                  a.sign-out(href='#') Sign Out
            ul.nav.navbar-nav.navbar-right.hidden-xs
              if current_user.is_authenticated()
                li
                  img.go-to-profile(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 5px; margin-left: 15px;', class="avatar-mini")
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | {{current_user.display_name}}
                    span.caret
                  ul.dropdown-menu(role='menu')
                      li
                      li
                        a(href='/dashboard') Dashboard
                      li
                        a(href='/messages') Messages
                      li
                        a(href='/member/{{current_user.my_url}}/change-settings') Settings
                      li
                        a(href='/member/{{current_user.my_url}}') Profile
                      li.divider
                      li
                        a.sign-out(href='#') Sign Out
                li.dropdown
                  a.dropdown-toggle.glyphicon.glyphicon-cog(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.caret
                  ul.dropdown-menu(role='menu')
                      li
                      li
                        if current_user.navbar_top
                          a.toggle-navbar(href='') 
                            span.glyphicon.glyphicon-check
                            span &nbsp;&nbsp;&nbsp;Sticky Navbar
                        else
                          a.toggle-navbar(href='') 
                            span.glyphicon.glyphicon-unchecked
                            span &nbsp;&nbsp;&nbsp;Sticky Navbar
                        if current_user.notification_sound
                          a.toggle-sounds(href='') 
                            span.glyphicon.glyphicon-volume-up
                            span &nbsp;&nbsp;&nbsp;Audio Alerts
                        else
                          a.toggle-sounds(href='') 
                            span.glyphicon.glyphicon-volume-off
                            span &nbsp;&nbsp;&nbsp;Audio Alerts
                        if current_user.no_images
                          a.toggle-images(href='') 
                            span.glyphicon.glyphicon-check
                            span &nbsp;&nbsp;&nbsp;Hide Images
                        else
                          a.toggle-images(href='') 
                            span.glyphicon.glyphicon-unchecked
                            span &nbsp;&nbsp;&nbsp;Hide Images
                      li.divider
                      li
                        a(href='/member/{{current_user.my_url}}/change-account') Name &amp; Password
                      li
                        a(href='/member/{{current_user.my_url}}/change-avatar-title') Avatar &amp; Title
                      li.divider
                      li
                        a(href='/member/{{current_user.my_url}}/change-settings') Other Settings
              else
                li#sign-in-li.hidden-xs
                  a(href='/sign-in')
                    | <strong>Sign In</strong>
                li#register-li.hidden-xs
                  a.join-us-link(href='/register')
                    | <strong>Join Us!</strong>
              if current_user.is_authenticated()
                if current_user.unread_private_messages() > 0
                  a.button.mini-notification-button.collapsed.hidden-xs(style="margin-left: 5px; color: #B22222; border: none;", href='/messages')
                    span.glyphicon.glyphicon-envelope
                else
                  a.button.mini-notification-button.collapsed.hidden-xs(style="margin-left: 5px; border: none;", href='/messages')
                    span.glyphicon.glyphicon-envelope
                li.dropdown#dashboard-li.hidden-xs
                  a.dropdown-toggle.notification-dropdown-toggle(href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
                    if notification_count == 0
                      span.badge.notification-counter {{notification_count}}
                    else
                      span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
                  ul.dropdown-menu.notification-dropdown(role='menu')
                    li
                      a(href='/dashboard') 
                        span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
                        | Dashboard&nbsp;
                    li
                      a(href='/messages')
                        span.badge.float-right{{current_user.unread_private_messages()}}
                        | Messages&nbsp;
                    li.divider
                    for k, notification in current_user.get_recent_notifications(15).items()
                      li.notification-li(data-notification-count='{{notification["count"]}}', data-notification-ref='{{notification["ref"]}}')
                        .media
                          .media-left
                            a(href='{{notification["sender_url"]}}')
                              img.avatar-mini(src='{{notification["sender_avatar"]}}')
                          .media-body
                            span.who
                              if notification["count"] == 1
                                a.hover_user(href='{{notification["sender_url"]}}')= notification["sender_name"]
                              if notification["count"] > 1 and notification["count"] < 3
                                a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                                |  and 
                                a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                              if notification["count"] >= 3
                                a.hover_user(href='{{notification["actors"][0][1]}}')= notification["actors"][0][0]
                                |,&nbsp;
                                a.hover_user(href='{{notification["actors"][1][1]}}')= notification["actors"][1][0]
                                |,&nbsp;and
                                |<span class="count">{{notification["count"] - 2}}</span>
                                |more
                            br
                            a.notification-link(href='{{notification["url"]}}', data-notification='{{notification["id"]}}')= notification["message"]
    #content-border
      {% block content %}
      {% endblock %}
      {% block footer %}
      ul.list-group
        li.list-group-item.section-header.sidebar-section-header(style="margin-top: 10px;") Quick Links
        li.list-group-item(style="margin-bottom: 25px;")
          .row
            if not current_user.is_authenticated()
              .col-sm-3
                strong.text-muted Hello there!
                br
                ul.nav.nav-pills.nav-stacked
                  li(role="presentation")
                    a.text-muted.text-hide-overflow(href="/register") 
                      span.glyphicon.glyphicon-list-alt
                      | &nbsp;&nbsp;&nbsp;&nbsp;Join Us!
                    a.text-muted.text-hide-overflow(href="/sign-in") 
                      span.glyphicon.glyphicon-list-alt
                      | &nbsp;&nbsp;&nbsp;&nbsp;Sign In
            .col-sm-3
              strong.text-muted Utilities
              br
              ul.nav.nav-pills.nav-stacked
                li(role="presentation")
                  a.text-muted.text-hide-overflow.to-top(href="#") 
                    span.glyphicon.glyphicon-arrow-up
                    | &nbsp;&nbsp;&nbsp;&nbsp;Go to Top
                if not current_user.is_authenticated()
                  li(role="presentation")
                    a.text-muted.text-hide-overflow(href="/blogs") 
                      span.glyphicon.glyphicon-pencil
                      | &nbsp;&nbsp;&nbsp;&nbsp;Blogs
                if current_user.is_authenticated()
                  li(role="presentation")
                    a.text-muted.text-hide-overflow(href="/dashboard") 
                      span.glyphicon.glyphicon-alert
                      | &nbsp;&nbsp;&nbsp;&nbsp;Your Notifications
                if current_user.login_name == "cy" or current_user.login_name == "zoop"
                  if current_user.get_site_setting("manual_validation") == "on"
                    li(role="presentation")
                      a.text-danger.text-hide-overflow.toggle-link(href="/toggle-manual-validation") 
                        span.glyphicon.glyphicon-info-sign
                        | &nbsp;&nbsp;&nbsp;&nbsp;Manual Validation is On!
                  else
                    li(role="presentation")
                      a.text-muted.text-hide-overflow.toggle-link(href="/toggle-manual-validation") 
                        span.glyphicon.glyphicon-info-sign
                        | &nbsp;&nbsp;&nbsp;&nbsp;Manual Validation is Off
                    
            .col-sm-3
              strong.text-muted Information
              br
              ul.nav.nav-pills.nav-stacked
                li(role="presentation")
                  a.text-muted.text-hide-overflow(href="/rules") 
                    span.glyphicon.glyphicon-info-sign
                    | &nbsp;&nbsp;&nbsp;&nbsp;Site Rules
                li(role="presentation")
                  a.text-muted.text-hide-overflow(href="/acknowledgement") 
                    span.glyphicon.glyphicon-star
                    | &nbsp;&nbsp;&nbsp;&nbsp;Acknowledgements
            if current_user.is_authenticated()
              .col-sm-3
                strong.text-muted Settings
                br
                ul.nav.nav-pills.nav-stacked
                  li(role="presentation")
                    a.text-muted.text-hide-overflow.dropdown.dropup(href="#", data-toggle="dropdown") 
                      span.glyphicon.glyphicon-picture
                      | &nbsp;&nbsp;&nbsp;&nbsp;Themes
                      .caret
                    ul.dropdown-menu.dropup(style="top: auto; bottom: 100%; margin-bottom: 2px;")
                      for theme in current_user.get_themes()
                        li
                          a.post-link(href="/change-theme/{{theme.id}}")= theme.name
                  li(role="presentation")
                    a.text-muted.text-hide-overflow(href="/member/{{current_user.my_url}}/change-account") 
                      span.glyphicon.glyphicon-wrench
                      | &nbsp;&nbsp;&nbsp;&nbsp;Account
            .col-sm-3
              strong.text-muted Friends!
              br
              //- ul.nav.nav-pills.nav-stacked
              //-   li(role="presentation")
              //-     a.text-muted.text-hide-overflow(href="https://animeforums.net/community/")
              //-       span.glyphicon.glyphicon-heart
              //-       | &nbsp;&nbsp;&nbsp;&nbsp;Anime Forums
              ul.nav.nav-pills.nav-stacked
                li(role="presentation")
                  a.text-muted.text-hide-overflow(href="#") 
                    span.glyphicon.glyphicon-link
                    | &nbsp;&nbsp;&nbsp;&nbsp;Room for more...
            .col-sm-6
      {% endblock %}
  #img-click-modal.modal.fade
  #report-click-modal.modal.fade
  #coffee-overrides(style="display: none;")
    for k, v in theme_coffee_templates.items()
      script(style="display: none;", id=k,  type="text/plain")!= v
    
  script(src="/static/assets/handlebars.min.js").
  
  script(type="text/javascript").
  if current_user.is_authenticated()
    script(type="text/javascript").
      window.woe_is_me = "{{current_user.listener_token}}";
      window.my_url = "{{current_user.my_url}}";
      window.my_tz = "{{current_user.time_zone}}";
      window.theme = "{{current_user.theme.directory_name}}";
      {% if current_user.is_authenticated() %}
      window.logged_in = true;
      {% else %}
      window.logged_in = false;
      {% endif %}
  {% assets filters="rjsmin", output="generated/base.js",
  "assets/jquery-3.2.1.js", "assets/socket.io.js", "assets/bootstrap.js",
  "assets/moment.js", "assets/socket.io.js", "assets/ie10-viewport-bug-workaround.js",
  "local/js/base.js", "assets/dotdotdot/jquery.dotdotdot.js", "assets/moment-timezone-with-data-2010-2020.js",
  "assets/ie-emulation-modes-warning.js" %}
  script(type="text/javascript", src="{{ASSET_URL}}").
  {% endassets %}
  {% block script %}
  {% endblock %}
  span.io-class(data-config=config.LISTENER, data-path=config.LISTENER_PATH)
