{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  li 
    a(href="/messages") Private Messages
  li.active
    b
      a(href="/messages/{{topic.pk}}") {{topic.title}}
.row
  .col-md-9
    ul.list-group.category
      #post-container(data-pk="{{topic.pk}}")
      li.list-group-item(style="overflow: hidden;")
        #new-post-box
          if current_user.is_authenticated() == False:
            p.text-muted Please login to make a reply to this topic.
  .col-md-3
    ul.list-group.category
      li.list-group-item.sidebar-section-header.section-header Participants
      for participant in topic.participants
        li.list-group-item
          .media-left
            a(href="{{url_for('view_profile', login_name=participant.user.login_name)}}")
              img.media-object(src="{{ participant.user.get_avatar_url("40") }}", width="40px", height="40px", class="avatar-mini")
          .media-body
            a.hover_user(href="{{url_for('view_profile', login_name=participant.user.login_name)}}") {{ participant.user.display_name }}
            if current_user == participant.user:
              br
              a.inherit_colors(href="/messages/{{topic.pk}}/leave-topic") (Leave Topic)
            elif current_user != participant.user and current_user == topic.creator:
              br
              a.inherit_colors(href="/messages/{{topic.pk}}/kick-from-topic/{{participant.user.pk}}") (Kick)
            
nav.pagination-listing
{% endblock %}

{% block header %}
link(href='/static/assets/quill/quill.base.css', rel='stylesheet')
link(href='/static/assets/quill/quill.snow.css', rel='stylesheet')
link(href='/static/assets/dropzone/dropzone.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars.min.js")
script(src="/static/assets/quill/quill.js")
script(src="/static/assets/dropzone/dropzone.js")
script(src="/static/local/js/inline-editor.js")
script(type="text/javascript")
  $(document).ready(function(){  
    {% if current_user.is_authenticated() == True %}
    window._pagination={{current_user.post_pagination}};
    {% if current_user == topic.creator %}
    window._is_topic_mod=true;
    {% else %}
    window._is_topic_mod=false;
    {% endif %}
    window._is_logged_in=true;
    {% else %}
    window._pagination=20;
    window._is_topic_mod=false;
    window._is_logged_in=false;
    {% endif %}
    
    window._initial_page={{initial_page}};
    
    {% if initial_post == "" %}
    window._initial_post="";
    {% else %}
    window._initial_post="{{initial_post}}";
    {% endif %}
    
    {% if current_user.is_authenticated() == True %}
    window._can_edit = true;
    window._current_user = "{{current_user.display_name}}";
    {% endif %}
  });
script(src="/static/local/js/private-message-topic-index.js")
{% endblock %}