{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  li.active 
    b
      a(href="/messages") Private Messages
  li.active
    b
      a(href="/messages/{{topic.pk}}") {{topic.title}}
.row
  .col-md-12
    ul.list-group.category
      #post-container(data-pk="{{topic.pk}}")
      li.list-group-item(style="overflow: hidden;")
        #new-post-box
          if current_user.is_authenticated() == False:
            p.text-muted Please login to make a reply to this topic.
nav.pagination-listing
{% endblock %}

{% block header %}
link(href='/static/assets/quill/quill.base.css', rel='stylesheet')
link(href='/static/assets/quill/quill.snow.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars.min.js")
script(src="/static/assets/quill/quill.js")
script(src="/static/local/js/inline-editor.js")
script(type="text/javascript")
  $(document).ready(function(){  
    {% if current_user.is_authenticated() == True %}
    window._pagination={{current_user.post_pagination}};
    {% if current_user == topic.creator %}
    window._is_topic_mod=true;
    {% else %}
    window._is_topic_mod=false;
    {% endif %}
    window._is_logged_in=true;
    {% else %}
    window._pagination=20;
    window._is_topic_mod=false;
    window._is_logged_in=false;
    {% endif %}
    
    window._initial_page={{initial_page}};
    
    {% if current_user.is_authenticated() == True %}
    window._can_edit = true;
    window._current_user = "{{current_user.display_name}}";
    {% endif %}
  });
script(src="/static/local/js/private-message-topic-index.js")
{% endblock %}