{% extends "base.jade" %}

{% block content %}
if not current_user.is_authenticated()
  //- .row
  //-   .col-md-12
  //-     ul.list-group
  //-       li.list-group-item
  //-         center
  //-           h4 Hello and welcome to GENERIC SITENAME!
  //-           p We are an online community devoted to members of the anime fandom that aren't hardcore otakus and don't feel like they have to be. GENERIC SITENAME is a welcoming, low-drama refuge from the negativity and chaos that are common in mega-sized communities.
  //-           p Our forum features <a href="/blogs" target="_blank">blogs</a>, <a href="/member/zoop" target="_blank">profile customization</a>, and <a href="/t/lamia-forum-our-custom-forum-software" target="_blank">a wealth of other features</a>.
  //-           p
  //-             strong If you would like to learn more about us and join the site, then <a href="/register" style="color: blue;" >click here to get started.</a>
.row
  .col-md-8
    {% for section in sections %}
    ul.list-group.category
      li.list-group-item.section-header.category-section-header {{section.name}}
      {% for category in categories[section] %}
      li.list-group-item.subcategory.category-subcategories
        div
          .row
            .col-xs-4.col-sm-6
              span.subcategory-listing-name 
                a(href="/category/{{category.slug}}", style="vertical-align: middle; padding-top: 15px; font-size: 18px;") {{category.name}}
                if category.description
                  p(style="font-size: 12px;").hidden-xs
                    a(href="/category/{{category.slug}}").text-muted= category.description
                {% for subcategory in sub_categories[category] %}
                {% if loop.first %}
                p.small
                  &nbsp;
                  {% endif %}
                  a(href="/category/{{subcategory.slug}}") {{subcategory.name}}{% if not loop.last %}, {% endif %}
                  {% endfor %}
            {% if category.recent_post %}
            .col-sm-6.col-xs-8
              .media-left
                span.subcategory-listing-recent-image
                  a(href="{{url_for('view_profile', login_name=category.recent_post.author.login_name)}}")
                    img(src="{{category.recent_post.author.get_avatar_url("40")}}", width="{{category.recent_post.author.avatar_40_x}}", height="{{category.recent_post.author.avatar_40_y}}", class="avatar-mini")
              .media-body
                span.subcategory-listing-recent
                  a(href="/t/{{category.recent_topic.slug}}/page/1/post/last_seen")= category.recent_topic.title|truncate(40)
                  br
                  a(href="/t/{{category.recent_topic.slug}}/page/1/post/last_seen") {{category.recent_post.created|humanize_time}}
            {% endif %}
      {% endfor %}
    {% endfor %}
    if blogs
      ul.list-group
        li.list-group-item.section-header Newest Blog Entries
        for blog in blogs
          li.list-group-item(style="padding: 10px;")
            .row
              .col-xs-4.col-sm-6
                span.subcategory-listing-name 
                  a(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}", style="vertical-align: middle; padding-top: 10px; font-size: 15px;") {{blog.recent_entry.title|truncate(40)}}
                  p(style="font-size: 12px;").hidden-xs 
                    a(href="/blog/{{blog.slug}}").text-muted {{blog.name}}
              .col-sm-6.col-xs-8
                .media-left
                  span.subcategory-listing-recent-image
                    a(href="/member/{{blog.recent_entry.author.login_name}}")
                      img.avatar-mini(src=blog.recent_entry.author.get_avatar_url("40"), width=blog.recent_entry.author.avatar_40_x, height=blog.recent_entry.author.avatar_40_y)
                .media-body
                  span.subcategory-listing-recent
                    a(href="/member/{{blog.recent_entry.author.login_name}}") {{blog.recent_entry.author.display_name}}
                    br
                    a(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}") {{blog.recent_entry.published|humanize_time}}
        li.list-group-item
          center
            a.btn.btn-primary(href="/blogs", style="margin-bottom: 5px; margin-top: 5px;") Browse All Blogs
    if recently_created_topics and recently_replied_topics
      .row
        .col-md-6
          ul.list-group
            li.list-group-item.section-header.sidebar-section-header New Topics
            for t in recently_created_topics
              li.list-group-item
                .media-left
                  span.subcategory-listing-recent-image
                    a(href="{{url_for('view_profile', login_name=t.author.login_name)}}")
                      img(src="{{t.author.get_avatar_url("40")}}", width="{{t.author.avatar_40_x}}", height="{{t.author.avatar_40_y}}", class="avatar-mini")
                .media-body
                  a(href="/t/{{t.slug}}")= t.title|truncate(40)
                  br
                  a(href="/t/{{t.slug}}/page/1/post/last_seen") {{t.created|humanize_time}}
        .col-md-6
          ul.list-group
            li.list-group-item.section-header.sidebar-section-header Recently Replied to Topics
            for t in recently_replied_topics
              li.list-group-item
                .media-left
                  span.subcategory-listing-recent-image
                    a(href="{{url_for('view_profile', login_name=t.recent_post.author.login_name)}}")
                      img(src="{{t.recent_post.author.get_avatar_url("40")}}", width="{{t.recent_post.author.avatar_40_x}}", height="{{t.recent_post.author.avatar_40_y}}", class="avatar-mini")
                .media-body
                  a(href="/t/{{t.slug}}/page/1/post/latest_post")= t.title|truncate(40)
                  br
                  a(href="/t/{{t.slug}}/page/1/post/latest_post") {{t.recent_post.created|humanize_time}}
    if tweets
      .row
        .col-md-12.hidden-sm.hidden-xs
          ul.list-group
            li.list-group-item.section-header.sidebar-section-header Twitter
            li.list-group-item(style="padding-left: 10px; padding-right: 10px;")
              .row
                for tweet in tweets
                  .col-lg-4(style="padding: 10px;")
                    a(href="https://twitter.com/CasualAnimeFans", target="_blank")
                      span.text-muted @CasualAnimeFans&nbsp;&nbsp;&nbsp;
                    if tweet.retweeted
                      span.glyphicon.glyphicon-retweet.text-muted
                      span.text-muted &nbsp;Retweeted
                    p {{tweet.text|twittercleaner}}
                    div
                      a(href="https://twitter.com/CasualAnimeFans/status/{{tweet.id}}", target="_blank")
                          span.text-muted {{tweet.time|humanize_time}}
              center
              .row 
                center <a href="https://twitter.com/CasualAnimeFans" class="twitter-follow-button" data-lang="en" data-show-count="true">Follow @CasualAnimeFans</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  .col-md-4
    if announcements
      ul.list-group
        li.list-group-item.section-header.sidebar-section-header Announcements
        for announcement in announcements
          li.list-group-item(style="padding: 10px;")
            .media-left 
              a(href="/member/{{announcement.author.login_name}}")
                img.avatar-mini(src=announcement.author.get_avatar_url("60"), width=announcement.author.avatar_60_x, height=announcement.author.avatar_60_y)
            .media-body
              strong
                a(href="/t/{{announcement.slug}}")= announcement.title
              div= announcement.created|humanize_time("MMM D YYYY")
    if status_updates
      ul.list-group
        li.list-group-item.section-header.sidebar-section-header Newest Status Updates
        {% for status in status_updates %}
        li.list-group-item.front-page-status.sidebar-status-section
          .media-left.subcategory-listing-recent-image
            a(href="{{url_for('view_profile', login_name=status.author.login_name)}}")
              img.media-object(src="{{ status.author.get_avatar_url("60") }}", width="{{ status.author.avatar_60_x }}", height="{{ status.author.avatar_60_y }}", class="avatar-mini")
          .media-body
            a.hover_user(href="{{url_for('view_profile', login_name=status.author.login_name)}}") {{ status.author.display_name }}
            span &nbsp;says{% if not status.attached_to_user %}:{% endif %}
              if status.attached_to_user
                | &nbsp;to 
                a.hover_user(href="{{url_for('view_profile', login_name=status.attached_to_user.login_name)}}") {{ status.attached_to_user.display_name }}
                |:
            span.discuss 
              a(href="/status/{{status.id}}") Discuss{% if status.get_comment_count() %} ({{status.get_comment_count()}}) {% endif %}
            br
            p.status-message {{status.message}}
            span.status-reply-time 
              a(href="/status/{{status.id}}") {{ status.created|humanize_time }}
        {% endfor %}
        if current_user.is_authenticated()
          li.list-group-item
            center
              p
              form.form-group.status-reply-box
                input.form-control#status-new(type="text", maxlength="250")
                br
                button#new-status.btn.btn-primary(type="submit") Create a Status Update

    if birthday_list
      ul.list-group
        li.list-group-item.section-header.sidebar-section-header Happy Birthday!
        li.list-group-item.sidebar-status-section
          center
            p
              div <strong><span style="color: #FF59C4;">Happiest of birthdays to</span></strong>
                {% for u in birthday_list %}
                strong
                  a.hover_user(data-hplacement="top", href="{{url_for('view_profile', login_name=u.login_name)}}") {{u.display_name}}
                span {% if not loop.last %},{% endif %}
                {% if loop.last %}<strong><span style="color: #FF59C4;">&#33;</span></strong>{% endif %}
                {% endfor %}

    if newest_member
      ul.list-group
        li.list-group-item.section-header Newest Member
        li.list-group-item 
          .media-left 
            a.subcategory-listing-recent-image(href="/member/{{newest_member.login_name}}")
              img.avatar-mini(src=newest_member.get_avatar_url("60"), width=newest_member.avatar_60_x, height=newest_member.avatar_60_y)
          .media-body Our newest member is 
            a.hover_user(href="{{url_for('view_profile', login_name=newest_member.login_name)}}") {{newest_member.display_name}} 
            if new_member_intro_topic
              |&nbsp;and they have a 
              a(href="/t/{{new_member_intro_topic.slug}}") welcome topic.
              br
              a(href="/t/{{new_member_intro_topic.slug}}") Go say hello!
            else
              |but they have no welcome topic. :(
    ul.list-group
      li.list-group-item.section-header Forum Stats
      li.list-group-item 
        ul
          li {{topic_count|number_format}} <strong>topics</strong>
          li {{post_count|number_format}} <strong>posts</strong>
          li {{blog_entry_count|number_format}} <strong>blog entries</strong>
          li {{status_update_count|number_format}} <strong>status updates</strong>
          li {{status_comments_count|number_format}} <strong>status comments</strong>
          br
.row
  .col-md-12
    li.list-group-item.section-header.sidebar-section-header {{online_user_count}} Users Online
    li.list-group-item
        {% for u in online_users %}
        {% if u.anonymous_login == False %}
        a.hover_user(data-hplacement="top", href="{{url_for('view_profile', login_name=u.login_name)}}") {{u.display_name}}
        span {% if not loop.last %},{% endif %} 
        {% else %}
        {% if current_user.is_admin %}
        i
          a.hover_user(data-hplacement="top", href="{{url_for('view_profile', login_name=u.login_name)}}") {{u.display_name}}
        span {% if not loop.last %},{% endif %} 
        {% endif %}
        {% endif %} 
        {% endfor %}
          
          
{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){
  $('#forum-li').addClass('active');
  });
{% endblock %}
