{% extends "profile.jade" %}

{% block profile_sidebar %}
{% endblock %}

{% block profile_content %}
.row
  .col-xs-12
    ul.list-group
      li.list-group-item.section-header Change User Settings
      li.list-group-item
        .row
          .col-lg-6.col-md-6.col-sm-8
            form(action="/member/{{profile.my_url}}/change-settings", method="post")
              {{ form_errors(form) }}
              .form-group
                {{ form.time_zone.label }}
                {{ form.time_zone(class="form-control") }}
              .form-group
                {{ form.theme.label }}
                {{ form.theme(class="form-control") }}
              .form-group
                {{ form.birthday.label }}
                {{ form.birthday(class="form-control") }}
              .form-group
                {{ form.navbar_top.label }}
                {{ form.navbar_top(class="form-control") }}
              .form-group 
                {{ form.no_images.label }}
                {{ form.no_images(class="form-control") }}
              .form-group
                {{ form.no_emails.label }}
                {{ form.no_emails(class="form-control") }}
              .form-group
                {{ form.notification_sound.label }}
                {{ form.notification_sound(class="form-control") }}
              .form-group
                {{ form.all_notification_sounds.label }}
                {{ form.all_notification_sounds(class="form-control") }}
              .form-group
                {{ form.minimum_time_between_emails.label }}
                {{ form.minimum_time_between_emails(class="form-control") }}
              button(type="submit").btn.btn-default Submit
    ul.list-group
      li.list-group-item.section-header Change Ignore Settings
      li.list-group-item
        .row
          .col-xs-12
            .form-group
              label.control-label.col-sm-2 Ignore User(s)
              .col-sm-5
                select#user-ignore-select(multiple="multiple", style="width: 200px;")
              .col-sm-2
                .visible-xs-block
                  br
                a.btn.btn-default#user-ignore-button(href="/member/{{profile.my_url}}/ignore-users") Ignore
      if profile.ignored_users
        for _i in profile.ignored_users
          li.list-group-item
            .row
              .col-xs-3 
                a(href="/member/{{_i.ignoring.my_url}}") {{_i.ignoring.display_name}}
              .col-xs-9
                a.post-link(href="/member/{{profile.my_url}}/unignore-user/{{_i.ignoring.my_url}}") (unignore)
              
    ul.list-group
      li.list-group-item.section-header Notification Settings
      li.list-group-item
        for _category in NOTIFICATION_CATEGORIES
          .row
            .col-sm-3.col-xs-5
              span= _category[1]
              | &nbsp;&nbsp;&nbsp;&nbsp;
            .col-sm-9.col-xs-7
              if profile.notification_preferences.get(_category[0], {"email": True}).get("email")
                input.notification-toggle(type="checkbox", data-target="{{_category[0]}}", data-method="email", checked)
              else
                input.notification-toggle(type="checkbox", data-target="{{_category[0]}}", data-method="email")
              label Email
              | &nbsp;&nbsp;&nbsp;&nbsp;
              if profile.notification_preferences.get(_category[0], {"dashboard": True}).get("dashboard")
                input.notification-toggle(type="checkbox", data-target="{{_category[0]}}", data-method="dashboard", checked)
              else
                input.notification-toggle(type="checkbox", data-target="{{_category[0]}}", data-method="dashboard")
              label Dashboard
              | &nbsp;&nbsp;&nbsp;&nbsp;
              span.hidden-xs.hidden-sm= _category[2]
    ul.list-group
      li.list-group-item.section-header Custom Profile Fields
      li.list-group-item
        .row
          .col-xs-12
            .form-inline
              .form-group
                select.form-control#user-field-select()
                  for custom_field in available_fields
                    option(value="{{custom_field}}")= custom_field
              .form-group
                input.form-control#user-field-value()
              .form-group
                a.btn.btn-default#add-user-field(href="#") Add
          if current_fields
            li.list-group-item.fields
              ul
                for field_type in available_fields
                  for field in current_fields
                    if field[0] == field_type:
                      li
                        b= field[0]
                        |&nbsp;&nbsp;&nbsp;
                        |{{field[1]}}&nbsp;&nbsp;&nbsp;
                        a.remove-user-field(href="#", data-field=field[0], data-value=field[1]) (remove)
          else
            li.list-group-item.fields(style="display: none;")
              ul

{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/change_user_settings.js",
"local/js/change-user-settings.js", "assets/select2/select2.full.js", "assets/bootstrap-datepicker/bootstrap-datepicker.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){
    $("#time_zone").select2({});
    window.l_name = "{{profile.login_name}}";
  });
{% endblock%}
