{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  {% if category.parent != None and category.parent.root_category != True %}
  li 
    a(href="{{url_for('category_index', slug=category.parent.slug)}}") {{category.parent.name}}
  {% endif %}
  li 
    a(href="{{url_for('category_index', slug=category.slug)}}") {{category.name}}
  li 
    a(href="{{url_for('topic_index', slug=topic.slug)}}") {{topic.name}}
  li.active
    b
      a(href="{{url_for('edit_topic', slug=topic.slug)}}") Edit Topic
.row
  .col-md-12
    h2 Edit Topic
    form#edit-topic-form(method="post", data-slug="{{topic.slug}}")
      .row
        .col-md-8
          .row
            .form-group.col-md-8
              label(for="title") Title
              input.form-control#title(value=topic.title)
          if category.allowed_prefixes
            .row
              .form-group.col-md-6
                label(for="title") Prefix
                select#prefix.form-control
                  for prefix in category.allowed_prefixes
                    if prefix == topic.prefix:
                      option(value="{{prefix}}", selected) {{prefix}}
                    else
                      option(value="{{prefix}}") {{prefix}}
          .row
            .form-group.col-md-12
              #new-post-box {{topic.first_post.html}}
nav.pagination-listing
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
script(type="text/javascript")
  $(document).ready(function(){  
  });
{% assets filters="rjsmin", output="generated/new-topic.js",
"local/js/edit-topic.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
{% endblock %}