{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  {% if topic.category.parent != None and topic.category.parent.root_category != True %}
  li.active 
    a(href="{{url_for('category_index', slug=topic.category.parent.slug)}}") {{topic.category.parent.name}}
  {% endif %}
  li.active 
    a(href="{{url_for('category_index', slug=topic.category.slug)}}") {{topic.category.name}}
  li.active
    b
      a(href="{{url_for('topic_index', slug=topic.slug)}}") {{topic.title}}
.row
  .col-md-12
    ul.list-group.category
      #post-container(data-slug="{{topic.slug}}")
      li.list-group-item(style="overflow: hidden;")
        #new-post-box
          if current_user.is_authenticated() == False:
            p.text-muted Please login to make a reply to this topic.
nav.pagination-listing
{% endblock %}

{% block header %}
link(href='/static/assets/quill/quill.base.css', rel='stylesheet')
link(href='/static/assets/quill/quill.snow.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars.min.js")
script(src="/static/assets/quill/quill.js")
script(src="/static/local/js/inline-editor.js")
script(src="https://cdn.socket.io/socket.io-1.3.5.js")
script(type="text/javascript")
  $(document).ready(function(){  
    {% if current_user.is_authenticated() == True %}
    window._pagination={{current_user.post_pagination}};
    window._is_topic_mod={{topic.is_topic_mod(current_user)}};
    window._is_logged_in=true;
    {% else %}
    window._pagination=20;
    window._is_topic_mod=false;
    window._is_logged_in=false;
    {% endif %}
    
    window._initial_page={{initial_page}};
    
    {% if initial_post == "" %}
    window._initial_post="";
    {% else %}
    window._initial_post={{initial_post}};
    {% endif %}
    
    {% if current_user.is_authenticated() == True %}
    window._can_edit = true;
    window._current_user = "{{current_user.display_name}}";
    {% endif %}
  });
script(src="/static/local/js/topic-index.js")
{% endblock %}