{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  {% if topic.category.parent != None and topic.category.parent.root_category != True %}
  li.active 
    a(href="{{url_for('category_index', slug=topic.category.parent.slug)}}")= topic.category.parent.name
  {% endif %}
  li.active 
    a(href="{{url_for('category_index', slug=topic.category.slug)}}")= topic.category.name
  li.active
    b
      a(href="{{url_for('topic_index', slug=topic.slug)}}")= topic.title
  {% if current_user.is_authenticated() %}
  {% if current_user in topic.watchers %}
  a.btn.btn-xs.btn-default.post-link.float-right(href="/t/{{topic.slug}}/toggle-follow", style="color: #333;") Unfollow
  {% else %}
  a.btn.btn-xs.btn-default.post-link.float-right(href="/t/{{topic.slug}}/toggle-follow", style="color: #333;") Follow
  {% endif %}
  {% endif %}
.row
  .col-md-12
    ul.list-group.category
      #post-container(data-slug="{{topic.slug}}")
      li.list-group-item(style="overflow: hidden;")
        if current_user.is_authenticated() == False:
          p.text-muted Please login to make a reply to this topic.
        elif topic.closed or topic.hidden:
          p.text-muted This topic is closed.
        else:
          #new-post-box
nav.pagination-listing
{% endblock %}

{% block script %}

{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}

script(type="text/javascript").
  $(document).ready(function(){  
  {% if current_user.is_authenticated() == True %}
  window._pagination={{current_user.post_pagination}};
  window._is_topic_mod={{topic.is_topic_mod(current_user)}};
  window._is_logged_in=true;
  {% else %}
  window._pagination=20;
  window._is_topic_mod=false;
  window._is_logged_in=false;
  {% endif %}
  
  window._initial_page={{initial_page}};
  window.roleplay_area={{rp_area}};
  
  {% if initial_post == "" %}
  window._initial_post="";
  {% else %}
  window._initial_post="{{initial_post}}";
  {% endif %}
  
  {% if current_user.is_authenticated() == True %}
  window._can_edit = true;
  window._current_user = "{{current_user.display_name}}";
  {% endif %}
  });
{% assets filters="rjsmin", output="generated/topic-index.js",
"local/js/topic-index.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}