{% extends "base.jade" %}

{% block content %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/") Home
          li 
            a(href="/blogs") Blogs
          li
            a(href="/blog/{{blog.slug}}")= blog.name
          li.hidden-sm.hidden-xs
            a#entry-url(href="/blog/{{blog.slug}}/e/{{entry.slug}}")
              h1.breadcrumb-h1= entry.title
        {% if current_user != blog.author and current_user != entry.author %}
        {% if current_user.is_authenticated() %}
        {% if current_user in entry.subscribers %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-follow", style="color: #333;") Unsubscribe
        {% else %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-follow", style="color: #333;") Subscribe
        {% endif %}
        {% endif %}
        {% endif %}
    ul.list-group.visible-sm-block.visible-xs-block
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")
              h1.breadcrumb-h1= entry.title
.row
  .col-md-12
    ul.list-group
      li.list-group-item
        .media-left
          a(href="{{url_for('view_profile', login_name=entry.author.my_url)}}")
            img.avatar-mini(src="{{entry.author.get_avatar_url("60")}}", width="{{entry.author.avatar_60_x}}", height="{{entry.author.avatar_60_y}}")
        .media-body
          a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
          br
          | by 
          a.hover_user(href="{{url_for('view_profile', login_name=entry.author.my_url)}}")= entry.author.display_name
          if current_user.is_admin
            a.float-right(href="/admin/blogentry/edit/?id={{entry.id}}", target="_blank")
              span.glyphicon.glyphicon-cog
          br
          span.text-muted {{ entry.published|humanize_time }}
        hr
        .blog-entry!= entry.parsed
        .blog-options
          br
          .row
            .col-xs-6
              if current_user.is_authenticated()
                a.btn.btn-default.report-button(data-pk=entry.id, data-type="blogentry") Report
              if entry.author == current_user or current_user in blog.editors
                a.btn.btn-default(href="/blog/{{blog.slug}}/e/{{entry.slug}}/edit-entry") Edit Entry
            .col-xs-6.post-likes
              if entry.author == current_user or not current_user.is_authenticated()
                span
                  if entry.boops|length == 1:
                    span.badge {{entry.boops|length}}
                    | &nbsp;
                    | boop
                  else
                    span.badge {{entry.boops|length}}
                    | &nbsp;
                    | boops
              else
                if current_user not in entry.boops
                  a.btn.btn-default.boop-button.boop-link(data-status="notbooped", data-count="{{entry.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-boop")
                    span.badge(style="background-color: rgb(85, 85, 85);") {{entry.boops|length}}
                    | &nbsp;
                    span.boop-text Boop
                else
                  a.btn.btn-default.boop-button.boop-link(data-status="booped", data-count="{{entry.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-boop")
                    span.badge(style="background-color: green;") {{entry.boops|length}}
                    | &nbsp;
                    span.boop-text Unboop
          br
      if current_user.is_authenticated()
        li.list-group-item.section-header#comments(style="margin-top: 10px;") Comments
        .list-group-item
          #new-post-box    
      if comments          
        for comment in comments
          .list-group-item.post-listing-info
            .row
              .col-xs-2
                a.hover_user(href="{{url_for('view_profile', login_name=comment.author.my_url)}}") {{ comment.author.display_name }}
              .col-xs-10
                {{ comment.created|humanize_time }}
                if current_user.is_admin
                  a.float-right(href="/admin/blogcomment/edit/?id={{comment.id}}", target="_blank")
                    span.glyphicon.glyphicon-cog
          .list-group-item(style="padding: 20px;")
            .row.blog-comment
              .col-sm-2.hidden-xs.hidden-sm
                a(href="{{url_for('view_profile', login_name=comment.author.my_url)}}")
                  img.media-object.avatar-mini(src="{{ comment.author.get_avatar_url() }}", class="avatar-mini", style="max-width: 140px;")
              .col-sm-10.col-xs-12!= comment.parsed
            .blog-options
              br
              .row
                .col-sm-2.hidden-xs
                .col-sm-10.col-xs-12
                  .row
                    .col-xs-6
                      if current_user.is_authenticated()
                        a.btn.btn-default.reply-button(data-pk=comment.id, data-author=comment.author.display_name, data-type="blogcomment") Reply
                      if current_user.is_authenticated()
                        a.btn.btn-default.report-button(data-pk=comment.id, data-type="blogcomment") Report
                      if comment.author == current_user
                        a.btn.btn-default(href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/edit-comment") Edit Comment
                    .col-xs-6
                      .post-likes
                        if comment.author == current_user or not current_user.is_authenticated()
                          span
                            if comment.boops|length == 1:
                              span.badge {{comment.boops|length}}
                              | &nbsp;
                              | boop
                            else
                              span.badge {{comment.boops|length}}
                              | &nbsp;
                              | boops
                        else
                          if current_user not in comment.boops
                            a.btn.btn-default.boop-button.boop-link(data-status="notbooped", data-count="{{comment.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/toggle-boop")
                              span.badge(style="background-color: rgb(85, 85, 85);") {{comment.boops|length}}
                              | &nbsp;
                              span.boop-text Boop
                          else
                            a.btn.btn-default.boop-button.boop-link(data-status="booped", data-count="{{comment.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/toggle-boop")
                              span.badge(style="background-color: green;") {{comment.boops|length}}
                              | &nbsp;
                              span.boop-text Unboop
                br
      if pages
        .panel
          center
            ul.pagination
              for page_link in pages
                if page_link == page
                  li.active
                    a(href="/blog/{{blog.slug}}/e/{{entry.slug}}/page/{{page_link}}")= page_link
                else
                  li
                    a(href="/blog/{{blog.slug}}/e/{{entry.slug}}/page/{{page_link}}")= page_link
{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){
    window.addExtraHTML(".list-group-item");
    $('#blog-li').addClass('active');
  });
  
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill2/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}

{% assets filters="rjsmin", output="generated/blog-entry-view.js",
"local/js/blog-entry.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
