{% extends "base.jade" %}

{% block content %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/") Home
          li 
            a(href="/blogs") Blogs
          li.active
            a(href="/blog/{{blog.slug}}")= blog.name
.row
  .col-sm-8
    unless entries
      ul.list-group
        li.list-group-item This blog is empty...
    for entry in entries
      ul.list-group
        li.list-group-item.section-header= entry.title
        li.list-group-item
          .media-left
            img.avatar-mini(src="{{entry.author.get_avatar_url("60")}}", width="{{entry.author.avatar_60_x}}", height="{{entry.author.avatar_60_y}}")
          .media-body
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
            br
            | by 
            a.hover_user(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")= entry.author.display_name
            br
            span.text-muted {{ entry.published|humanize_time }}
          hr
          .blog-entry!= entry.parsed_truncated
          hr
          a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")
            if entry.comments
              h4 Read More / Comment ({{entry.comment_count()}})
            else
              h4 Read More / Comment ({{entry.comments|length}})
    if entry_count > 10
      .panel
        center
          ul.pagination
            for page_link in pages
              if page_link == page
                li.active
                  a(href="/blog/{{blog.slug}}/page/{{page_link}}")= page_link
              else
                li
                  a(href="/blog/{{blog.slug}}/page/{{page_link}}")= page_link
  .col-sm-4
    if blog.description
      ul.list-group
        li.list-group-item.section-header.panel-title Description
        li.list-group-item(style="padding: 10px;")!= description
    if blog.author == current_user
      ul.list-group
        li.list-group-item.section-header.panel-title Manage Blog
        li.list-group-item(style="padding: 10px;")
          .btn-group
            a.btn.btn-default(href="/blog/{{blog.slug}}/new-entry") New Entry
            a.btn.btn-default(href="/blog/{{blog.slug}}/edit-blog") Settings
    //- if blog.author == current_user
    //-   ul.list-group
    //-     li.list-group-item.section-header.panel-title Drafts
    //-     li.list-group-item(style="padding: 10px;")
    //-       for draft in drafts
    //-       
    if comments
      ul.list-group
        li.list-group-item.section-header.panel-title Recent Comments
        li.list-group-item
          for comment in comments
            .media-left
              img.avatar-mini(src="{{comment.author.get_avatar_url("40")}}", width="{{comment.author.avatar_40_x}}", height="{{comment.author.avatar_40_y}}")
            .media-body
              a.hover_user(href="{{url_for('view_profile', login_name=comment.author.login_name)}}")= comment.author.display_name
              |  commented on 
              a(href="/blog/{{blog.slug}}/e/{{comment.blog_entry.slug}}")= comment.blog_entry.title
              br
              span.text-muted {{ comment.created|humanize_time }}
            | {% if not loop.last %}<hr>{% else %}<br>{% endif %}
{% endblock %}
