{% extends "base.jade" %}

{% block content %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/") Home
          li 
            a(href="/blogs") Blogs
          li.active
            a(href="/blog/{{blog.slug}}")
              h1.breadcrumb-h1= blog.name
        {% if current_user.is_authenticated() %}
        {% if current_user in blog.subscribers %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/toggle-follow", style="color: #333;") Unsubscribe
        {% else %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/toggle-follow", style="color: #333;") Subscribe
        {% endif %}
        if current_user.is_admin
          a.btn.btn-xs.btn-default.float-right(href="/admin/blog/edit/?id={{blog.id}}", target="_blank")
            span.glyphicon.glyphicon-cog
        {% endif %}
.row
  .col-sm-8
    unless entries
      ul.list-group
        li.list-group-item This blog is empty...
    for entry in entries
      ul.list-group
        li.list-group-item.section-header.hidden-sm.hidden-xs= entry.title
        if entry.draft
          li.list-group-item(style="background-color: #FFDCFF;")
            .media-left
              a(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")
                img.avatar-mini(src="{{entry.author.get_avatar_url("60")}}", width="{{entry.author.avatar_60_x}}", height="{{entry.author.avatar_60_y}}")
            .media-body
              em
                a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
                br
                | by 
                a.hover_user(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")= entry.author.display_name
                br
                span.text-muted {{ entry.published|humanize_time }}
            hr
            .blog-entry!= entry.parsed_truncated
            hr
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")
              h4 View/Edit Draft
        else
          li.list-group-item
            .media-left
              a(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")
                img.avatar-mini(src="{{entry.author.get_avatar_url("60")}}", width="{{entry.author.avatar_60_x}}", height="{{entry.author.avatar_60_y}}")
            .media-body
              a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
              br
              | by 
              a.hover_user(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")= entry.author.display_name
              br
              span.text-muted {{ entry.published|humanize_time }}
            hr
            .blog-entry!= entry.parsed_truncated
            hr
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")
              if entry.comments
                h4 Read More / Comment ({{entry.comment_count()}})
              else
                h4 Read More / Comment
    if entry_count > 10
      .panel
        center
          ul.pagination
            for page_link in pages
              if page_link == page
                li.active
                  a(href="/blog/{{blog.slug}}/page/{{page_link}}")= page_link
              else
                li
                  a(href="/blog/{{blog.slug}}/page/{{page_link}}")= page_link
  .col-sm-4
    if blog.description
      ul.list-group
        li.list-group-item.section-header.panel-title Description
        li.list-group-item.blog-description(style="padding: 10px;")!= description
    if blog.author == current_user
      ul.list-group
        li.list-group-item.section-header.panel-title Manage Blog
        li.list-group-item(style="padding: 10px;")
          .btn-group
            a.btn.btn-default(href="/blog/{{blog.slug}}/new-entry") New Entry
            a.btn.btn-default(href="/blog/{{blog.slug}}/edit-blog") Settings
    if ((blog.author == current_user) or current_user.is_admin) and drafts
      ul.list-group
        li.list-group-item.section-header.panel-title Drafts
        for draft in drafts
          li.list-group-item(style="padding: 10px;")
            a(href="/blog/{{blog.slug}}/e/{{draft.slug}}")= draft.title
            &nbsp;
            a(href="/blog/{{blog.slug}}/e/{{draft.slug}}/edit-entry") (edit)
            &nbsp;
            a.post-link(href="/blog/{{blog.slug}}/e/{{draft.slug}}/remove-entry") (remove)
    if comments
      ul.list-group
        li.list-group-item.section-header.panel-title Recent Comments
        li.list-group-item
          for comment in comments
            .media-left
              a(href="{{url_for('view_profile', login_name=comment.author.login_name)}}")
                img.avatar-mini(src="{{comment.author.get_avatar_url("40")}}", width="{{comment.author.avatar_40_x}}", height="{{comment.author.avatar_40_y}}")
            .media-body
              a.hover_user(href="{{url_for('view_profile', login_name=comment.author.login_name)}}")= comment.author.display_name
              |  commented on 
              a(href="/blog/{{blog.slug}}/e/{{comment.blog_entry.slug}}")= comment.blog_entry.title
              br
              span.text-muted {{ comment.created|humanize_time }}
            | {% if not loop.last %}<hr>{% else %}<br>{% endif %}
{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){
    window.addExtraHTML(".list-group-item");
  });
{% endblock %}
