{% extends "base.jade" %}

{% block content %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/") Home
          li 
            a(href="/blogs") Blogs
          li
            a.hidden-sm.hidden-xs(href="/blog/{{blog.slug}}")= blog.name
            a.visible-sm-inline.visible-xs-inline(href="/blog/{{blog.slug}}") This Blog
          li
            a.hidden-sm.hidden-xs#entry-url(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
            a.visible-sm-inline.visible-xs-inline(href="/blog/{{blog.slug}}/e/{{entry.slug}}") This Entry
        {% if current_user.is_authenticated() %}
        {% if current_user in entry.subscribers %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-follow", style="color: #333;") Unsubscribe
        {% else %}
        a.btn.btn-xs.btn-default.post-link.float-right(href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-follow", style="color: #333;") Subscribe
        {% endif %}
        {% endif %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header.hidden-sm.hidden-xs= entry.title
      li.list-group-item
        .media-left
          img.avatar-mini(src="{{entry.author.get_avatar_url("60")}}", width="{{entry.author.avatar_60_x}}", height="{{entry.author.avatar_60_y}}")
        .media-body
          a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
          br
          | by 
          a.hover_user(href="{{url_for('view_profile', login_name=entry.author.login_name)}}")= entry.author.display_name
          br
          span.text-muted {{ entry.published|humanize_time }}
        hr
        .blog-entry!= entry.parsed
        .blog-options
          br
          .row
            .col-xs-6
              if entry.author == current_user or current_user in blog.editors
                a.btn.btn-default(href="/blog/{{blog.slug}}/e/{{entry.slug}}/edit-entry") Edit Entry
            .col-xs-6.post-likes
              if entry.author == current_user or not current_user.is_authenticated()
                span
                  span.badge {{entry.boops|length}}
                  | &nbsp;
                  | boops!
              else
                if current_user not in entry.boops
                  a.btn.btn-default.boop-button.boop-link(data-status="notbooped", data-count="{{entry.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-boop")
                    span.badge(style="background-color: rgb(85, 85, 85);") {{entry.boops|length}}
                    | &nbsp;
                    span.boop-text Boop!
                else
                  a.btn.btn-default.boop-button.boop-link(data-status="booped", data-count="{{entry.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/toggle-boop")
                    span.badge(style="background-color: green;") {{entry.boops|length}}
                    | &nbsp;
                    span.boop-text Boop!
          br
      li.list-group-item.section-header#comments(style="margin-top: 10px;") Comments
      if current_user.is_authenticated()
        .list-group-item
          #new-post-box    
      if comments          
        for comment in comments
          .list-group-item.post-listing-info
            .row
              .col-sm-2
                a.hover_user(href="{{url_for('view_profile', login_name=comment.author.login_name)}}") {{ comment.author.display_name }}
              .col-sm-10
                {{ comment.created|humanize_time }}
          .list-group-item(style="padding: 20px;")
            .row
              .col-sm-2.hidden-xs
                img.media-object(src="{{ comment.author.get_avatar_url() }}", width=comment.author.avatar_full_x*0.70, height=comment.author.avatar_full_y*0.70, class="avatar-mini")
              .col-sm-10.col-xs-12!= comment.parsed
            .blog-options
              br
              .row
                .col-sm-2.hidden-xs
                .col-sm-10.col-xs-12
                  .row
                    .col-xs-6
                      if comment.author == current_user
                        a.btn.btn-default(href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/edit-comment") Edit Comment
                    .col-xs-6
                      .post-likes
                        if comment.author == current_user or not current_user.is_authenticated()
                          span
                            span.badge {{comment.boops|length}}
                            | &nbsp;
                            | boops!
                        else
                          if current_user not in comment.boops
                            a.btn.btn-default.boop-button.boop-link(data-status="notbooped", data-count="{{comment.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/toggle-boop")
                              span.badge(style="background-color: rgb(85, 85, 85);") {{comment.boops|length}}
                              | &nbsp;
                              span.boop-text Boop!
                          else
                            a.btn.btn-default.boop-button.boop-link(data-status="booped", data-count="{{comment.boops|length}}", type="button", href="/blog/{{blog.slug}}/e/{{entry.slug}}/c/{{comment.id}}/toggle-boop")
                              span.badge(style="background-color: green;") {{comment.boops|length}}
                              | &nbsp;
                              span.boop-text Boop!
                br
      if pages
        .panel
          center
            ul.pagination
              for page_link in pages
                if page_link == page
                  li.active
                    a(href="/blog/{{blog.slug}}/e/{{entry.slug}}/page/{{page_link}}")= page_link
                else
                  li
                    a(href="/blog/{{blog.slug}}/e/{{entry.slug}}/page/{{page_link}}")= page_link
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}

{% assets filters="rjsmin", output="generated/blog-entry-view.js",
"local/js/blog-entry.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
