{% extends "base.jade" %}

{% block content %}
if current_user.is_authenticated
  .row
    .col-sm-12
      ul.list-group
        li.list-group-item.section-header
          span My Blogs
        li.list-group-item.body-background
          a.btn.btn-primary(style="margin: 2px;", href="/blogs/new-blog") New Blog
          for blog in my_blogs
            a.btn.btn-default(style="margin: 2px;", href="/blog/{{blog.slug}}") {{blog.name}}
.row
  .col-sm-9
    ul.list-group
      li.list-group-item.section-header Latest Blog Updates
      li.list-group-item
        for blog in blogs
          .row
            .col-sm-12.blog-listing-info              
              .media-left 
                img.avatar-mini(src=blog.recent_entry.author.get_avatar_url("60"), width=blog.recent_entry.author.avatar_60_x, height=blog.recent_entry.author.avatar_60_y)
              .media-body
                .blog-title
                  a(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}")= blog.recent_entry.title
                div
                  a(href="/blog/{{blog.slug}}")= blog.name
                div= blog.recent_entry.created|humanize_time
          .row
            .col-sm-12
              div!= blog.preview
              br
              if blog.recent_entry.comments
                a.blog-read-more(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}") Read More / Comment ({{blog.recent_entry.comment_count()}})
              else
                a.blog-read-more(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}") Read More
          hr
        li.list-group-item
          center
            ul.pagination
              for page_link in pages
                if page_link == page
                  li.active
                    a(href="/blogs/page/{{page_link}}")= page_link
                else
                  li
                    a(href="/blogs/page/{{page_link}}")= page_link
  .col-sm-3
    if featured_blog_entries
      ul.list-group
        li.list-group-item.section-header Featured
        for blogentry in featured_blog_entries
          li.list-group-item(style="padding: 10px;")
            .media-left 
              img.avatar-mini(src=blogentry.author.get_avatar_url("40"), width=blogentry.author.avatar_40_x, height=blogentry.author.avatar_40_y)
            .media-body
              strong
                a(href="#")= blogentry.title
              div= blogentry.blog.name
              div= blogentry.created|humanize_time("MMM D YYYY")
    ul.list-group
      li.list-group-item.section-header.panel-title Recent Comments
      for comment in comments
        li.list-group-item(style="padding: 10px;")
          .media-left
            img.avatar-mini(src="{{comment.author.get_avatar_url("40")}}", width="{{comment.author.avatar_40_x}}", height="{{comment.author.avatar_40_y}}")
          .media-body
            a.hover_user(href="{{url_for('view_profile', login_name=comment.author.login_name)}}")= comment.author.display_name
            |  commented on 
            a(href="/blog/{{comment.blog.slug}}/e/{{comment.blog_entry.slug}}")= comment.blog_entry.title
            br
            span.text-muted {{ comment.created|humanize_time }}
    ul.list-group
      li.list-group-item.section-header Random Stuff
      for blog in random_blogs
        li.list-group-item(style="padding: 10px;")
          .media-left 
            img.avatar-mini(src=blog.recent_entry.author.get_avatar_url("40"), width=blog.recent_entry.author.avatar_40_x, height=blog.recent_entry.author.avatar_40_y)
          .media-body
            strong
              a(href="/blog/{{blog.slug}}/e/{{blog.recent_entry.slug}}")= blog.recent_entry.title
            div= blog.name
            div= blog.recent_entry.created|humanize_time("MMM D YYYY")
{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){ 
  });

{% assets filters="rjsmin", output="generated/listing-of-blogs.js",
"assets/jquery.shuffle.modernizr.js", "local/js/listing-of-blogs.js", 
"assets/select2/select2.full.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
